body {
    margin: 0px;
    padding: 0px;
}

nav{
    height: 50px;
    text-align: right;
    color: #fff;
    font-family: sans-serif;
    margin: 0 auto;
}

nav li{
    display: inline-block;
    margin-right: 30px;
    padding: 15px;
    font-size: 20;
}

#wrapper{
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgb(250, 250, 193)), url("https://static.storyweaver.org.in/illustrations/48182/large/4.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#form-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-box input,
#form-box form {
  margin-right: 10px; /* Adjust the margin as needed */
}

.choose-lang{
    text-decoration: none;
    color: black;
    background-color:#fff;
    margin-left: 30px;
    border: 2px solid #FF9933;
    padding: 15px;
    border-radius: 20px;
    font-family: monospace;
    transition: background-color 0.3s,border 0.2s, color 0.2s;
}

.choose-lang:hover{
    background-color: #FF9933;
    color:#fff;
    cursor: pointer;
    font-size: 110%;
}

#habitName {
    font-size: medium;
    padding: 5px;
}

#habitType{
    background-color:white;
    padding: 6px;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 16px;
    font-size: medium;
}

#habitType:hover{
    background-color:#fff;
}

#habitType option{
    background-color: #fff;
}

.submit-answer{
    background-color:white;
    border: 2px solid #FF9933;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-size: medium;
    font-family: monospace;
    transition: background-color 0.3s,border 0.2s, color 0.2s;
}

.submit-answer:hover{
    
    background-color: #FF9933;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 84%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.explanation {
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
  
td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

#habit-add {
    margin: 30px;
    display: block;
}   

@media only screen and (max-width: 1250px) {
    /* TODO: make site design responsive */
}

@media only screen and (max-width: 850px) {
    /* TODO: make site design responsive */
}

@media only screen and (max-width: 650px) {
    /* TODO: make site design responsive */
}

@media only screen and (max-width: 550px) {
    /* TODO: make site design responsive */
}
